<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cs.project.eforest_office">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewNews"></activity>
        <activity android:name=".AddNews" />
        <activity android:name=".News">
        </activity>
        <activity android:name=".ViewImage" />
        <activity android:name=".AddGallery" />
        <activity android:name=".Gallery"></activity>
        <activity android:name=".Home" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".eForestHome" />
        <activity android:name=".MainActivity" >
        </activity>
    </application>

</manifest>